extends layout

block content
  h1 GameIs Unconference 2014 rides


  #rides(ng-app='', ng-controller='ridesController')


    table
      thead
        tr
          th Name
          th From
          th Number of free seats
          th Phone #
          th 
      tbody
      form(ng-submit='addRide()')
        tr
          td 
            input(type='text', placeholder='Name', ng-model='newRide.name')
          td 
            input(type='text', placeholder='Coming from', ng-model='newRide.comingFrom')
          td 
            input(type='text', placeholder='# of free seats', ng-model='newRide.seats')
          td 
            input(type='text', placeholder='Phone #', ng-model='newRide.phone')
          td 
            button(type='submit') Add
        tr(ng-repeat='ride in rides')
          td 
            a(href='#') {{ride.name}}
          td {{ride.comingFrom}}
          td {{ride.seats}}
          td 
            a(href='#') Show number
          td 
            a(href='#', ng-click='deleteRide(ride)') Delete

block scripts
  script(src='/javascripts/global.js') 
