body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#rides
{
	margin: auto;
	padding: 5px;
		
}

#rides td#fileringCell {

}

#rides table.passengerTable {
	margin:20px; 
}
#rides tr.addPassengerRow td {
	background-color: #eee;
}

#rides td#fileringCell input {
	margin: auto; width:99%;
	border:none;
	font-size: 18px;
}

#rides table {
	border-collapse: collapse;
}

#rides th {
	background-color: #666;
	color: white;
}

#rides tr#NewRideRow td {
	background-color: #eee;
}
#rides td, th {
	border: solid 1px #ccc;
	margin:0;
	padding:5px;
	background: white;

}


#rides input {
	margin: 0;
}